# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. SQL

4. Julia

5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy

2. Pandas

3. scikit-learn

4. TensorFlow

5. ggplot2

6. Plotly

| Data Science Tools   |
|----------------------|
| Python               |
| R                    |
| Jupyter Notebook     |
| Tableau              |
| Apache Spark         |

### Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition**
   - Adding two numbers: `5 + 3` results in `8`.

2. **Subtraction**
   - Subtracting one number from another: `5 - 3` results in `2`.

3. **Multiplication**
   - Multiplying two numbers: `5 * 3` results in `15`.

4. **Division**
   - Dividing one number by another: `5 / 3` results in approximately `1.6667`.

5. **Exponentiation**
   - Raising one number to the power of another: `5 ** 3` results in `125`.

6. **Modulus**
   - Finding the remainder of one number divided by another: `5 % 3` results in `2`.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
A = (3*4) + 5
print(A)

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = 200 / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages used in Data Science, such as Python and R.
- Identify commonly used libraries in Data Science like Pandas, ggplot2, and scikit-learn.
- Describe various Data Science tools including Jupyter Notebook, Tableau, and Apache Spark.
- Demonstrate knowledge of different Markdown features and their applications in documenting Data Science projects.
- Gain proficiency in evaluating arithmetic expressions in Python.
- Demonstrate the ability to structure a Jupyter Notebook for effective data analysis presentation.

##Author
Martin Kruchinski